

.bg {
    background-color: #dff7f8;
    white-space: nowrap;
}

.padding_row {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.color_button {
    background-color: #4fc4ca !important;
    color: #fff;
    border-color: #4fc4ca !important;
    font-weight: bold;
    font-size: 0.8rem;
}

.ic-search {
    vertical-align: unset !important;
}

.tr_thead_list {
    color: #474548 !important;
    font-size: 0.8rem !important;
    font-weight: bold !important;
    text-transform: uppercase;
}

.bold-huy {
    font-weight: bold;
    font-size: 0.8rem;
}

.title_index {
    color: #008990 !important;
    font-weight: bold !important;
    font-size: 13px !important;
}

.m-image {
    max-width: 100%;
    background: #ccc;
}

.img-sd {
    object-fit: scale-down;
}

.wrap-img {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.color {
    /*background-color: #4fc4ca !important;*/
    color: #4fc4ca !important;
    border-color: #4fc4ca !important;
    font-weight: 500;
    font-size: 0.8rem;
}

.color:hover {
    border-color: #4fc4ca;
    background: #fff;
    color: #ffffff;
}

.delete-img {
    position: absolute;
    top: -8px;
    right: -8px;
    z-index: 2;
    display: none;
}

.delete-img a {
    color: #444;
}

.delete-img i {
    font-weight: bold;
    font-size: 1rem
}

.border-bot {
    border-bottom: 1px solid #ccc;
}

.w-15 {
    width: 15% !important;
}

/*.m-portlet .m-portlet__head {*/
    /*height: 3rem;*/
/*}*/

.text-center {
    text-align: center;
}

.m-switch.m-switch--success:not(.m-switch--outline) input:checked ~ span:before {
    background-color: #008421;
}

.m-switch.m-switch--success:not(.m-switch--outline) input:empty ~ span:after {
    color: #008421;
    background-color: #ffffff;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.m-switch.m-switch--success:not(.m-switch--outline) input:empty ~ span:before {
    background-color: #008421;
}

.m-switch.m-switch--success:not(.m-switch--outline) input:checked ~ span:after {
    opacity: 1;
    filter: alpha(opacity=100);
}




nav.nav-pills .nav-link, .nav.nav-tabs .nav-link {
    font-size: 0.9rem;
}
.m-tabs-line {
    border-bottom: 0px solid #ebedf2;
}

@media screen and (max-width: 480px) {


}

