select.search-type {
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    max-width: 130px;
    background-color: #f4f5f8 !important;
}

#m--star-dashbroad .m-portlet__head-title h3 {
    color: #fff !important;
}

#m--star-dashbroad .m-portlet__head-title small {
    text-transform: initial;
!important;
}

#m-dashbroad .m_portlet_dashbroad {
    border: 1px solid #ebedf2;
    border-top: 2px solid #037077;
    margin-bottom: 30px;
}
.components{
    font-size: 1rem;
}
.menu-big{
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}
.list-unstyled li a{
    font-size: 1rem;
    font-weight: 500;
    color: #3F4254;
    margin-left: 7px;
    text-decoration: none;
}
.list-unstyled li a  i{
    font-size: 2rem;
}
.list-unstyled li{
    padding-bottom: 10px;
    padding-top: 5px;
}
.img-nt{
    width: 74%;
    height: auto;
}
.m-aside-menu .m-menu__nav {
    list-style: none;
    padding: 15px 0 30px 0;
}
.m-aside-menu .m-menu__nav > .m-menu__item > .m-menu__link {
    padding: 7px 15px;
}
.m-aside-menu .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__link-text, .m-aside-menu .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-text {
    font-weight: 500;
    font-size: 1rem;
    text-transform: initial;
}
.m-aside-menu .m-menu__nav > .m-menu__item > .m-menu__link {
    padding: 7px 3px 7px 3px;
}
.menu-big{
    padding-left: 15px;
}
.m-input-icon.m-input-icon--right .form-control {
    padding-right: 4.8rem;
}
.list-unstyled li p{
    padding: 10px;
}
.list-unstyled li p[aria-expanded="true"]{
    background-color: #dff7f9;
    padding: 10px;
    transition: 0.5s;
}
.padding9px{
    padding: 9px;
}
.nt-menu-customer{
    padding: 10px;
    transition: 0.5s;
    width: 100%;
}

#m-dashbroad .m-portlet.m-portlet--head-sm .m-portlet__head .m-portlet__head-tools .m-tabs-line .m-tabs__link {
    text-transform: uppercase !important;
}

#m-dashbroad .m-widget25 .m-widget25__price, .m-widget25 .m-widget25__desc {
    color: #fff !important;
}
#m-dashbroad .m-widget25 .m-widget25__price {
    font-size: 50px;
    font-weight: 600;
}

#m-dashbroad .m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text small {
    color: #fff
}

#m-dashbroad .tongtien {
    background-image: url('/uploads/admin/report/hinh3.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

#m-dashbroad .dathanhtoan {
    background-image: url('/uploads/admin/report/hinh4.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

#m-dashbroad .chuathanhtoan {
    background-image: url('/uploads/admin/report/hinh2.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

#m-dashbroad .sotienhuy {
    background-image: url('/uploads/admin/report/hinh1.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

#m-dashbroad .m-datatable > .m-datatable__table > .m-datatable__head .m-datatable__row > .m-datatable__cell, .m-datatable > .m-datatable__table > .m-datatable__foot .m-datatable__row > .m-datatable__cell {
    background: #dff7f9;
    text-transform: uppercase;
}

#m-dashbroad .m-datatable.m-datatable--default > .m-datatable__table > .m-datatable__head .m-datatable__row > .m-datatable__cell {
    padding: 0.8rem;
}

#m-dashbroad .m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--active {
    background: #4fc4ca;
    color: #ffffff;
}

#m-dashbroad .m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--disabled, .m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--disabled:hover {
    color: #898b96;
    background: #dff7f8;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

#m-dashbroad .m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--first, .m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--prev, .m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--next, .m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--last {
    background: #dff7f8;
}

#m-dashbroad .m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link:hover {
    background: #4fc3ca;
    color: #ffffff;
}

#m-dashbroad .m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--first:hover, .m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--prev:hover, .m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--next:hover, .m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--last:hover {
    background: #50c2ca;
    color: #ffffff;
}

#m-dashbroad .m-datatable > .m-datatable__pager > .m-datatable__pager-info .m-datatable__pager-size .btn.dropdown-toggle {
    border: 0 !important;
    color: #3f4047;
    background: #dff7f7;
}

#m-dashbroad .m-datatable > .m-datatable__pager > .m-datatable__pager-info .m-datatable__pager-size .btn.dropdown-toggle:focus, .m-datatable > .m-datatable__pager > .m-datatable__pager-info .m-datatable__pager-size .btn.dropdown-toggle:hover, .m-datatable > .m-datatable__pager > .m-datatable__pager-info .m-datatable__pager-size.show > .btn.dropdown-toggle {
    border: 0 !important;
    color: #ffffff;
    background: #4fc3ca;
}

#m-dashbroad .m-tabs-line.m-tabs-line--primary.nav.nav-tabs .nav-link:hover, .m-tabs-line.m-tabs-line--primary.nav.nav-tabs .nav-link.active, .m-tabs-line.m-tabs-line--primary a.m-tabs__link:hover, .m-tabs-line.m-tabs-line--primary a.m-tabs__link.active {
    color: #027177;
    border-bottom: 1px solid #027177;
}

#m-dashbroad .m-tabs-line.m-tabs-line--primary.nav.nav-tabs .nav-link:hover > i, .m-tabs-line.m-tabs-line--primary.nav.nav-tabs .nav-link.active > i, .m-tabs-line.m-tabs-line--primary a.m-tabs__link:hover > i, .m-tabs-line.m-tabs-line--primary a.m-tabs__link.active > i {
    color: #027177;
}

#m-dashbroad .m-badge.m-badge--brand {
    background-color: #0098d1;
    color: #ffffff;
}

#m-dashbroad .m-badge.m-badge--wide {
    letter-spacing: 0.6px;
    padding: 1px 20px;
}

#m-dashbroad .m-link {
    color: #027177;
}

#m-dashbroad .m-link:hover {
    color: #027177;
}

#m-dashbroad .m-link:hover:after {
    border-bottom: 1px solid #027177;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.m-portlet .m-portlet__head .m-portlet__head-text {
    color: #027177 !important;
}

.m-portlet .m-portlet__head .m-portlet__head-icon {
    color: #027177 !important;
}

#m-dashbroad small.birtday {
    color: #027177 !important;
}

.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text {
    font-size: 1.1rem;
}

.m-portlet .m-portlet__head .m-portlet__head-text {
    color: #027177;
    text-transform: uppercase;
}

.m-tabs-line.m-tabs-line--primary.nav.nav-tabs .nav-link:hover, .m-tabs-line.m-tabs-line--primary.nav.nav-tabs .nav-link.active, .m-tabs-line.m-tabs-line--primary a.m-tabs__link:hover, .m-tabs-line.m-tabs-line--primary a.m-tabs__link.active {
    color: #027177;
    border-bottom: 1px solid #027177;
    text-transform: uppercase;
    font-weight: 500;
}

#dashbroad .m-portlet.m-portlet--head-sm .m-portlet__head .m-portlet__head-tools .m-tabs-line .m-tabs__link {
    height: 100%;
    padding: 1.2rem 0 1.2rem 0;
    text-transform: uppercase;
    font-weight: 500;
}

.m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item {
    margin: 0;
}

.m-portlet.m-portlet--info.m-portlet--head-solid-bg {
    background: #fff;
    border-color: #fff;
    border: none;
}

.m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link {
    color: #7b7e8a;
}

.m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link > i {
    color: #7b7e8a;
}

.m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item.show .m-tabs__link, .m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link:hover, .m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link.active {
    background: #4fc4cb;
}

.m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item:first-child {
    border-left: 0
}

.m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item {
    background: #ffff;
    border-left: 1px solid rgba(204, 204, 204, 0.3);
}

.m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__head {
    background-color: #ffffff;
    border-color: rgba(155, 157, 166, 0.2);
}

.m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item.show .m-tabs__link, .m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link:hover, .m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link.active,
.m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link {
    padding-left: 15px;
    padding-right: 15px;
}

/*.m-portlet.m-portlet--head-sm .m-portlet__head{*/
/*	height: 3.1rem;*/
/*}*/

/*.m-portlet.m-portlet--head-sm .m-portlet__head .m-portlet__head-tools .m-tabs-line .m-tabs__link {*/
/*	height: 100%;*/
/*	padding: 0.9rem 1.1rem;*/
/*}*/
/*.m-portlet.m-portlet--head-sm .m-portlet__head .m-portlet__head-tools .m-tabs-line .m-tabs__link{*/
/*	height: 100%;*/
/*	padding: 1rem 0 1rem 0;*/
/*}*/

.m-list-search__form .form-group {
    border-right: 1px solid #ebedf2;
    padding-right: 1em;
}

.bg {
    background-color: #dff7f8;
    white-space: nowrap;
}

.padding_row {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.color_button {
    background-color: #4fc4ca !important;
    color: #fff;
    border-color: #4fc4ca !important;
    font-weight: bold;
    font-size: 0.8rem;
}

.color_button.btn-search {
    height: 40px;
}

.height-40 {
    height: 40px;
}

.ic-search {
    vertical-align: unset !important;
}

.bg {
    background-color: #dff7f8;
    white-space: nowrap;
}

.bg tr {
    height: 40px;
}

.tr_thead_list {
    color: #474548 !important;
    font-size: 13px !important;
    font-weight: bold !important;
    text-transform: uppercase;
}

.bold-huy {
    font-weight: bold;
    font-size: 0.8rem;
}

.title_index {
    color: #008990 !important;
    font-weight: bold !important;
    font-size: 13px !important;
}

.m-image {
    max-width: 100%;
    background: #ccc;
}

.img-sd {
    object-fit: scale-down;
}

.wrap-img {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.color {
    /*background-color: #4fc4ca !important;*/
    color: #4fc4ca !important;
    border-color: #4fc4ca !important;
    font-weight: 500;
    font-size: 0.8rem;
}

.color:hover {
    border-color: #4fc4ca;
    background: #fff;
    color: #ffffff;
}

.delete-img {
    position: absolute;
    top: -8px;
    right: -8px;
    z-index: 2;
    display: none;
}

.delete-img a {
    color: #444;
}

.delete-img i {
    font-weight: bold;
    font-size: 1rem
}

.border-bot {
    border-bottom: 1px solid #ccc;
}

.w-15 {
    width: 15% !important;
}

/*.m-portlet .m-portlet__head {*/
/*height: 3rem;*/
/*}*/

.text-center {
    text-align: center;
}

.m-switch.m-switch--success:not(.m-switch--outline) input:checked ~ span:before {
    background-color: #008421;
}

.m-switch.m-switch--success:not(.m-switch--outline) input:empty ~ span:after {
    color: #008421;
    background-color: #ffffff;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.m-switch.m-switch--success:not(.m-switch--outline) input:empty ~ span:before {
    background-color: #008421;
}

.m-switch.m-switch--success:not(.m-switch--outline) input:checked ~ span:after {
    opacity: 1;
    filter: alpha(opacity=100);
}

.m-box-heade-calendar-timline {
    background: #dff7f8;
    padding: 20px 30px;
}

.m-box-heade-calendar-timline .form-control[readonly] {
    background-color: #fff;
}

.m-box-heade-calendar-timline .btn.btn-outline-primary {
    color: #007177;
}

.m-box-heade-calendar-timline .btn-outline-primary {
    border-color: #007177;
}

.m-box-heade-calendar-timline .btn-outline-primary.focus, .btn-outline-primary:focus, .btn-outline-primary:hover {
    background: #007177;
}

.m-box-heade-calendar-timline .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #007177;
    border-color: #007177;
}

.m-preview--btn .btn {
    margin-right: 15px;
}

.m-preview--btn .m-input,
.m-preview--btn .btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover {
    background-color: #dff7f8;
}

.m-aside-left--fixed.m-header--static .m-aside-left, .m-aside-left--fixed.m-header--fixed .m-aside-left {
    top: 50px;
}

.m-list-search .m-list-search__results .m-list-search__result-item {
    padding: 0 0 2px 0;
}

.m-list-search__form .m-input-icon.m-input-icon--left .form-control {
    min-width: 380px;
    height: 2.6rem;
}

.m-list-search .m-list-search__form {
    padding: 7px 0;
}

#timeline-list .m-widget4 .m-widget4__item {
    padding-top: 0;
}

.m-font-uppercase {
    text-transform: uppercase;
}

.m-status-apointment {
    padding: 5px 10px !important;
    background: #50c4ca !important;
    margin: 10px 0;
}

.m-info-calendar {
    display: flex;
}

/*Sơn */

.menu-icon img {
    max-width: 100%;
    width: 16px;
}

.page-header .navbar {
    height: 68px;
    min-height: 68px;
}

.page-header.navbar .page-logo {
    height: 68px;
}

.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__heading, .m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__link {
    background-color: #dff7f8 !important;
}

.m-aside-menu .m-menu__nav > .m-menu__item > .m-menu__heading, .m-aside-menu .m-menu__nav > .m-menu__item > .m-menu__link {
    height: 20px !important;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--open {
    background-color: #fff !important;
}

.m-brand.m-brand--skin-light {
    background: #4fc4cb7d !important
    /*height: 50px !important;*/
    /*width: 230px;*/
}

.m-brand.m-brand--skin-light .m-brand__tools .m-brand__toggler span {
    background: #fff !important;
}

.m-brand.m-brand--skin-light .m-brand__tools .m-brand__toggler span::before, .m-brand.m-brand--skin-light .m-brand__tools .m-brand__toggler span::after {
    background: #fff !important;
}

.m-brand.m-brand--skin-light .m-brand__tools .m-brand__toggler span::before, .m-brand.m-brand--skin-light .m-brand__tools .m-brand__toggler span::after {
    background: #fff !important;
}

.m-aside-left.m-aside-left--skin-light {
    border-left: 3px solid #007177;
    /*width: 230px;*/
}

.m-menu__section-text {
    font-size: 12px;
    font-weight: bold;
    color: #464b66 !important;
}

.m-menu__section {
    background-color: #ebebeb;
}

.m-menu__link .m-menu__toggle {
    display: table-cell;
    vertical-align: top;
}

.m-header {
    height: 50px !important;
}

.m-brand .m-brand__logo, .m-brand .m-brand__tools {
    height: 50px !important;
}

.m-header--fixed .m-body {
    padding-top: 50px !important;
}

.m-topbar .m-topbar__nav.m-nav > .m-nav__item > .m-nav__link .m-topbar__username {
    color: #000000;
    font-weight: bold;
    font-size: 1rem;
    text-transform: none;
    padding-left: 5px;
}

.bd-right {
    border-left: 1px solid #ccc;
}
li:hover .m-menu__link{
    text-decoration: none;
}
.m-aside-menu .m-menu__nav .m-menu__section {
    padding: 0 0px;
}
.m-aside-menu .m-menu__nav > .m-menu__section .m-menu__section-text {
    font-size: 1rem;
    padding: 3px 0;
}
#m_ver_menu .m-menu__nav .active{
    background: #4fc4cb;
    border-bottom: 1px solid #4fc4cb;
}
.svg-icon [class*=" fa-"] , .m-menu__section-icon{
    font-size: 1.2rem;
    padding: 5px;
}
.m_ver_menu{
    background: #dff7f9;
}
.title_header {
    color: #027177;
    font-weight: 500;
    font-size: 1.1rem;
}
#m_ver_menu .m-menu__section {
     background-color: unset;
}
#m_ver_menu .m-menu__nav .m-menu__item a i{
    font-size: 2rem;
}
.m-aside-menu .m-menu__nav > .m-menu__section {
     margin:0;
}

.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-text {
    font-weight: 200;
}

.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__link .m-menu__link-text {
    font-weight: 200;
}

.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--open > .m-menu__heading, .m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--open > .m-menu__link {
    background-color: #dff7f8;
}

.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__heading, .m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__link {
    background-color: #dff7f8;
}

.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__link .m-menu__link-text {
    color: #007177;
    font-weight: 400;
}

.m-brand__tools {
    width: 20%;
}

.m-brand__logo {
    text-align: center;
}

.m-brand__logo img {
    width: 90%;
}

.ic-us {
    font-size: 0.8rem;
    margin-top: 10px;
    padding-left: 10px;
    color: black;
}
.active .m-font-uppercase span, .active .m-font-uppercase{
    color: white !important;
}
.w-ip {
    width: 350px !important;
}
.m-aside-menu .m-menu__nav > .m-menu__section .m-menu__section-text {
    font-size: 0.85rem;
}
.m-card-user__name {
    color: #000000 !important;
}

.m-topbar .m-topbar__nav.m-nav > .m-nav__item.m-topbar__user-profile.m-topbar__user-profile--img.m-dropdown--arrow .m-dropdown__arrow {
    color: #fff;
}

.m-input-icon > .m-input-icon__icon.m-input-icon__icon--right:before {
    content: '';
    position: absolute;
    border-left: 1px solid #ccc;
    z-index: 1;
    bottom: 0;
    left: 0;
    top: 30%;
    height: 40%;
}

.daterangepicker .ranges li.active {
    background: #ffffff;
    color: #4fc4cb;
    border: 1px solid #ffffff;
}

.applyBtn {
    display: none;
}

.cancelBtn {
    display: none;
}

.m-typeahead {
    min-width: 420px
}

.m-title-header .m-menu__link {
    text-transform: uppercase;
    font-weight: 500;
    color: #027177;
}

.m-title-header .m-menu__link h3 {
    padding-left: 10px !important;
    font-size: 1.1rem;
}

.m-nav.m-nav--inline > .m-nav__item > .m-nav__link {
    padding: 0;
}

.m-list-search__form .form-group {
    margin-bottom: 0
}

.m-list-search .m-list-search__form.m-loader:before {
    top: 24px;
    right: 25px;
    z-index: 1;
    border-top-color: #007177;
}

.th_modal_app {
    font-size: 13px;
    font-weight: bold;
}

.table.table-striped thead th {
    height: 40px;
}

.tooltipevent .m-list-search .m-list-search__results .m-list-search__result-category {
    margin: 0;
}

#m-order-add .nav.nav-pills.m-nav-pills--btn-sm .m-tabs__link,
#m-order-after .nav.nav-pills.m-nav-pills--btn-sm .m-tabs__link {
    padding: 0.3em 1em;
    font-size: 1rem;
}

#m-order-add table tbody tr,
#m-order-after table tbody tr {
    counter-increment: row-num;
}

#m-order-add table tbody tr td:first-child::before,
#m-order-after table tbody tr td:first-child::before {
    content: counter(row-num) ". ";
}

#m-order-add .m-list-timeline__items .m-list-timeline__item:first-child:before, .m-list-timeline__items .m-list-timeline__item:last-child:before,
#m-order-after .m-list-timeline__items .m-list-timeline__item:first-child:before, .m-list-timeline__items .m-list-timeline__item:last-child:before {
    position: inherit;
}

#m-order-add .m-list-timeline__items .m-list-timeline__item .m-list-timeline__time,
#m-order-after .m-list-timeline__items .m-list-timeline__item .m-list-timeline__time {
    font-size: 1rem;
}

.color_red {
    color: red;
}

.m-btn--icon.m-btn--icon-only.btn-lg, .btn-group-lg > .m-btn--icon.m-btn--icon-only.btn {
    width: 35px;
    height: 35px;
}

.ss--button-cms-piospa:not(:disabled):not(.disabled):active, .ss--button-cms-piospa:not(:disabled):not(.disabled).active, .show > .ss--button-cms-piospa.dropdown-toggle {
    font-size: 1rem;
}

.width-85 {
    width: 85px;
}

#search_wig4 .m-widget4__item {
    display: table;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.discount_bill {
    width: 200px !important;
}

.first-text-upper:first-letter {
    text-transform: uppercase;
}
.ss-font-size-13rem{
    font-size: 1.3rem !important;
}
.ss--height-modal-customer{
    height: 400px;
}
.ss--border-group-rule{
    border: 0.1rem dotted #4fc4cb !important;
}
.div_position{
    border: 1px solid;
    height: 170px;
    padding: 6px 0;
}
.div_position_fix {
    min-height: 170px;
    height: unset;
}

.dmm {
    width: 80%;
}
.dmm li{
    /*padding: 0 50px 10px 50px;*/
    text-align: center;
    margin: 0 auto;
}
#sortable {
    list-style-type: none;
    /*padding: 25px;*/
    /*padding: 0;*/
    width: 100%;
}
#sortable li {
    margin: 0 3px 3px 0 !important;
    padding: 1px !important;
    float: left !important;
    /*width: 135px !important;*/
    width: 31% !important;
    height: 100px !important;
    /*height: 100% !important;*/
    font-size: 15px !important;
    text-align: center !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #000000 !important;
}

.hide-action .action-product {
    display: none;
}
.select2 {
    width: 100% !important;
}
.border-banner {
    border: 1px solid #00000024;
    margin-bottom: 15px;
    padding: 15px;
}
.kt-radio:hover {
    cursor: pointer;
}
@media (max-width: 1440px) {
    .w-col-mb-100 {
        flex: 1 0 100%;
        max-width: 100%;
        margin-top: 10px;
    }

    .w-col-mb-avatar {
        flex: 1 0 100%;
        max-width: 100%;
    }

    .son-mb {
        /*margin-top: 10px;*/
    }
}

thead th ,thead td{
    text-transform: capitalize !important;
    font-weight: bold !important;
}

@media screen and (max-width: 1024px) {
    .m-brand.m-brand--skin-light {
        background : #4fc4cb !important
    }
    #m_aside_left {
        padding-top: 0 !important;
        margin-top: 10px !important;
    }
    .fix-icon-menu span::before {
        width: 50% !important;
    }
    .fix-icon-menu span::after {
        width: 75% !important;
    }
}
@media screen and (max-width: 480px) {

    .m-timeline-2 .m-timeline-2__items .m-timeline-2__item .m-timeline-2__item-text {
        padding-left: 3rem;
    }

    .m-brand.m-brand--skin-light .m-brand__tools .m-brand__icon > i {
        color: #fff;
    }

    .m-widget4 .m-widget4__img.m-widget4__img--pic,
    .m-dropdown .m-list-search__form,
    .m-dropdown .m-list-search {
        display: none
    }

    .m-portlet .m-portlet__head {
        display: inline-table !important;
        width: 100%
    }

    /*Son*/
    .m-stack.m-stack--general.m-stack--ver > .m-stack__item.m-stack__item--middle {
        width: 30%;
    }

    .inp {
        display: none;
    }

    .m-card-user__name {
        font-size: 1.2rem;
    }

    .bd-right {
        border-left: 0;
    }

    .m-dropdown.m-dropdown--arrow.m-dropdown--up .m-dropdown__arrow:before, .m-dropdown.m-dropdown--arrow .m-dropdown__arrow:before {
        color: #fff;
    }

    .m-brand .m-brand__tools .m-brand__toggler span {
        height: 1.2px;
    }

    .m-brand .m-brand__tools .m-brand__toggler span::before, .m-brand .m-brand__tools .m-brand__toggler span::after {
        height: 1.2px;
    }

    .m-brand .m-brand__tools .m-brand__toggler span::before, .m-brand .m-brand__tools .m-brand__toggler span::before {
        height: 2px;
    }

    .nav.nav-pills .nav-item, .nav.nav-tabs .nav-item {
        margin-left: 0 !important;
    }

    .m-portlet .m-portlet__head .m-portlet__head-caption {
        display: inline-block;
        vertical-align: middle;
        text-align: inherit;
        width: 100%;
        margin: 1rem 0;
    }

    .m-portlet.m-portlet--head-sm .m-portlet__head .m-portlet__head-tools {
        padding: 0;
        width: 100%;
        text-align: inherit;
        display: flex;
        margin-bottom: 1rem;
    }

    .bold-huy {
        width: 100%;

    }

    .bold-huy span {
        margin-left: auto;
        margin-right: auto;
    }

    .son-mb {
        margin-top: 10px;
        width: 100%;
        margin-left: 0 !important;
    }

    .son-mb span {
        margin-left: auto;
        margin-right: auto;
    }

    .btn_add_pc {
        display: none;
    }

    .btn_add_mobile {
        display: block !important;
    }

    .alert_mb {
        width: 100% !important;
    }

    .add_mb {
        margin-bottom: 10px;
    }

    .m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__head {
        display: inline-table;
    }

    .m-portlet.m-portlet--tabs .m-portlet__head .m-portlet__head-tools .nav-tabs.m-tabs-line > .nav-item.m-tabs__item {
        margin-right: 0;
        width: 100%;
    }

    .m-portlet.m-portlet--info.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item:first-child {
        border-left: 1px solid rgba(204, 204, 204, 0.3);
    }

    .warning_img {
        margin-left: 0 !important;
    }
}
.m-menu__link i {
    font-size: 2rem;
}
.active .m-menu__link i {
    color: #ffffff !important;
}
.m_ver_menu{
    background: #dff7f88a;
}
.m-aside-left--minimize-hover .m-menu__section-text .icon_min{

}
.btn.btn-light-success:hover:not(.btn-text):not(:disabled):not(.disabled), .btn.btn-light-success:focus:not(.btn-text), .btn.btn-light-success.focus:not(.btn-text) {
    color: #ffffff;
    background-color: #1BC5BD;
    border-color: transparent;
}
.btn-light-success{
    color: #ffffff;
    background-color: #1BC5BD;
    border-color: transparent;
    font-size: small;
}
.btn:not(:disabled):not(.disabled):active:not(.btn-text), .btn:not(:disabled):not(.disabled).active, .show > .btn.dropdown-toggle {
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
}
.btn.btn-light-success:not(:disabled):not(.disabled):active:not(.btn-text), .btn.btn-light-success:not(:disabled):not(.disabled).active, .show > .btn.btn-light-success.dropdown-toggle, .show .btn.btn-light-success.btn-dropdown {
    color: #ffffff;
    background-color: #1BC5BD;
    border-color: transparent;
}
.categorymenu{
    text-align: center;
}
.form-control-feedback{
    color:red;
}
.cursor-nt{
    cursor: pointer;
}
.m-aside-left--minimize-hover .m-menu__section-text .check-min{
    display: none;
}
#m_ver_menu .m-menu__section {
    padding: 4px;
    text-align: left;
}
.m-aside-left--minimize #m_ver_menu .m-menu__section , .m-aside-left--minimize-hover #m_ver_menu .m-menu__section ,.m-aside-left--minimize #m_ver_menu .m-menu__section i{
    text-align: center;
    font-size: 1.2rem;
}
#m_ver_menu{
    background: #a9e2e685;
}

.scroll-withdraw-request {
    height: 100px;
    overflow-x: auto;
}
.m--margin-bottom-0 {
    margin-bottom: 0px;
}
.btn-default-piospa {
    background-color: #4fc4ca !important;
    border-color: #4fc4ca !important;
}
.m--float-right {
    float: right;
}
.m--float-left {
    float: left;
}
.ss--header-table thead th {
    background: #dff7f9;
    color: #474548;
    border-bottom: 0;
    border-top: 0;
}
.m--width-10 {
    width: 10px;
}
.m--width-20 {
    width: 20px;
}
.modal-width-80 {
    max-width: 80%;
    margin: 0 auto;
}
.modal-width-85 {
    max-width: 85%;
    margin: 0 auto;
}
.m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--active {
    background: #4fc4ca;
}

.m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link:hover {
    background: #4fc4ca;
}

.m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--first, .m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--prev, .m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--next, .m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--last {
    background: #dff7f8;
}

.m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--first:hover, .m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--prev:hover, .m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--next:hover, .m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--last:hover {
    background: #4fc4ca;
}
.m--height-40 {
    height: 40px
}
.m--width-100 {
    width: 100px
}
.m--width-150 {
    width: 150px
}
.not-pointer {
    pointer-events: none;
}
@media (min-width: 1025px)
{
    .m-aside-left--fixed.m-aside-left--minimize-hover .m-aside-left {
        width: 78px;
        -webkit-transition: unset;
        transition: unset;
    }
}

.fix-scroll-bar::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.fix-scroll-bar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #4fc4cb7d;
    border-radius: 10px;
}

/* Handle */
.fix-scroll-bar::-webkit-scrollbar-thumb {
    background: #4fc4cb7d;
    border-radius: 10px;
}

/* Handle on hover */
.fix-scroll-bar::-webkit-scrollbar-thumb:hover {
    background: #4fc4cb7d;
}
#popup_service .m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--active,
#popup_service .m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link:hover{
    background: #4fc4ca !important;
}
.select-voucher:hover {
    cursor: pointer;
}
.hover-contract:hover{
    cursor: pointer;
    text-decoration: unset;
}
.m-menu__link {
    padding: 0 10px !important;
    padding-left: 10px !important;
}
#m_ver_menu .m-menu__nav > .m-menu__item {
    background-color: #d2f0f2 !important;
    color: #fff
}
.m-menu__item.active .m-menu__link-text {
    color :#fff !important;
}
.m-menu__subnav {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.m-menu__item--submenu {
    margin-bottom: 15px !important;
}
.m-menu__item--open .m-menu__submenu {
    display: block !important;
    overflow: auto;
}
.m-menu__item--submenu .la-angle-right {
    font-size: 15px !important;
}
.m-menu__link-text {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    color: #464b66 !important;
}
.m-menu__item--submenu > .m-menu__toggle > .m-menu__link-text {
    padding-left: 40px !important;
}
.m-menu__subnav .m-menu__item:hover {
    background: #4fc4cb;
    /*border-bottom: 1px solid #4fc4cb;*/
}
.m-menu__subnav .m-menu__item:hover .m-menu__link-text {
    color:#fff !important;
}
.m-menu__toggle .font-size-fix {
    font-size:1.5rem !important;
}
.datepicker .disabled {
    text-decoration: line-through !important;
}
.m-datatable__pager-size {
    display:none !important;
}