.menu-icon img{
    max-width: 100%;
    width: 20px;
}

.page-header .navbar {
    height: 68px;
    min-height: 68px;
}
.page-header.navbar .page-logo {
    height: 68px;
}

.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__heading, .m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__link{
    background-color:#dff7f8 !important;
}

.m-aside-menu .m-menu__nav > .m-menu__item > .m-menu__heading, .m-aside-menu .m-menu__nav > .m-menu__item > .m-menu__link{
    height: 20px !important;
}


.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--open {
    background-color: #fff !important;
}

.m-brand.m-brand--skin-light {
    background: #007177 !important;
    /*height: 50px !important;*/
    /*width: 230px;*/
}

.m-brand.m-brand--skin-light .m-brand__tools .m-brand__toggler span {
    background: #fff !important;
}

.m-brand.m-brand--skin-light .m-brand__tools .m-brand__toggler span::before, .m-brand.m-brand--skin-light .m-brand__tools .m-brand__toggler span::after {
    background: #fff !important;
}

.m-brand.m-brand--skin-light .m-brand__tools .m-brand__toggler span::before, .m-brand.m-brand--skin-light .m-brand__tools .m-brand__toggler span::after {
    background: #fff !important;
}

.m-aside-left.m-aside-left--skin-light {
    border-left: 3px solid #007177;
    /*width: 230px;*/
}

.m-menu__section-text {
    font-size: 12px;
    font-weight: bold;
    color: black !important;
    /*uppercase*/
    text-transform: inherit !important;
}
.m-menu__section{
    background-color:#ebebeb ;
}
.m-menu__link .m-menu__toggle{
    display: table-cell;
    vertical-align: top;
}

.m-header{
    height: 50px !important;
}
.m-brand .m-brand__logo, .m-brand .m-brand__tools{
    height: 50px !important;
}

.m-header--fixed .m-body{
    padding-top: 50px !important;
}
.m-topbar .m-topbar__nav.m-nav > .m-nav__item > .m-nav__link .m-topbar__username{
    color: #000000;
    font-weight: bold;
    font-size: 1rem;
    text-transform: none;
    padding-left: 5px;
}
.bd-right{
    border-left:1px solid #ccc;
}
.title_header{
    color: #027177;
    font-weight: 500;
    font-size: 1.1rem;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-text{
    font-weight: 200;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__link .m-menu__link-text{
    font-weight: 200;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--open > .m-menu__heading, .m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--open > .m-menu__link {
    background-color: #dff7f8;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__heading, .m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__link{
    background-color: #dff7f8;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__link .m-menu__link-text {
    color: #007177;
    font-weight: 400;
}
.m-brand__tools{
    width: 20%;
}

.m-brand__logo{
    text-align: center;
}
.m-brand__logo img{
    width: 90%;
}
.ic-us{
    font-size: 0.8rem;
    margin-top: 10px;
    padding-left: 10px;
    color: black;
}
.w-ip{
    width: 350px !important;
}
.m-aside-menu .m-menu__nav > .m-menu__section .m-menu__section-text {
    font-size: 1rem;

}
@media screen and (max-width: 480px) {
    .m-stack.m-stack--general.m-stack--ver > .m-stack__item.m-stack__item--middle{
        width: 30%;
    }
    .inp{
        display: none;
    }
    .m-card-user__name{
        font-size: 1.2rem;
    }
    .bd-right{
        border-left:0;
    }
    .m-dropdown.m-dropdown--arrow.m-dropdown--up .m-dropdown__arrow:before, .m-dropdown.m-dropdown--arrow .m-dropdown__arrow:before{
        color: #fff;
    }
    .m-brand .m-brand__tools .m-brand__toggler span {
        height: 1.2px;
    }
    .m-brand .m-brand__tools .m-brand__toggler span::before, .m-brand .m-brand__tools .m-brand__toggler span::after{
        height: 1.2px;
    }
    .m-brand .m-brand__tools .m-brand__toggler span::before, .m-brand .m-brand__tools .m-brand__toggler span::before{
        height: 2px;
    }
}
@media screen and (max-width: 1100px){
    .inp{
        display: none;
    }
}
.m-card-user__name{
    color: #000000 !important;
}
.m-topbar .m-topbar__nav.m-nav > .m-nav__item.m-topbar__user-profile.m-topbar__user-profile--img.m-dropdown--arrow .m-dropdown__arrow {
    color: #fff;
}
.m-input-icon > .m-input-icon__icon.m-input-icon__icon--right:before{
    content: '';
    position: absolute;
    border-left: 1px solid #ccc;
    z-index: 1;
    bottom: 0;
    left: 0;
    top: 30%;
    height: 40%;
}
.daterangepicker .ranges li.active {
    background: #ffffff;
    color: #4fc4cb;
    border: 1px solid #ffffff;
}

.applyBtn {
    display: none;
}

.cancelBtn {
    display: none;
}