.m-login__container{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    padding: 30px 50px;
    box-shadow: 0px 4px 7px rgba(140, 140, 140,0.6)
}
.m-login__title{color: #333 !important;}
.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-sub{padding-left: 0; padding-right: 0; margin-top: 20px}
.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .m-login__form-sub .m-link{color: #50c4ca}
.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .m-login__form-sub .m-checkbox{color: #333; line-height: 18px}
.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .form-control{color: #333; background: transparent}
.m-login__form-input--last{margin-top: 1.5rem}
.m--form-login-new{ height: 40px;border-radius: 40px !important;}
.m--align-left{padding-left: 0}
.m--align-right{padding-right: 0}
.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-action .m-login__btn {
    display: inline-block;
    text-align: center;
    padding: 1rem;
    margin-top: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
    background: #4fc4ca;
    border: 1px solid #4fc4ca;
    color: #fff;
}
.form-control.focus, .form-control:focus {
    border-color: #4fc3ca;
    color: #575962;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.m-input-icon > .m-input-icon__icon:after {
    content: '';
    position: absolute;
    border-left: 1px solid #333;
    z-index: 1;
    bottom: 0;
    left: 35px;
    top: 35%;
    height: 30%;
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .form-control::placeholder{
    color: #333;
}

m-login__form .m-input-icon > .m-input-icon__icon > span > i{color: #333}

#password-error,#email-error{display: none ; color: red}
#m_login_forget_password_submit{
  padding: 1rem 2.5rem;
}

#m_login_forget_password_cancel{
    padding: 1rem 2.5rem;
    background: transparent;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__head .m-login__title {
    text-align: center;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__head .m-login__desc {
    color: #333;
}
.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__logo {
    text-align: center;
    margin: 0 auto 2rem auto;

}
.m-login__form .m-input-icon > .m-input-icon__icon [class^="la-"], .m-input-icon > .m-input-icon__icon [class*=" la-"]{
    color:#333
}
.m-login__form .m-checkbox.m-checkbox--focus > input:checked ~ span{
    border: 1px solid #50c4ca !important;
}
.m-login__form .m-checkbox.m-checkbox--focus > span:after{
    border: solid #50c4ca;
}
.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .m-login__form-sub .m-link:hover{
    color: #50c4ca;
}
.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .form-control:focus{
    color: #50c4ca;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px transparent inset !important;
    background: transparent;
}

/* Change autocomplete styles in WebKit */
.m-login.m-login--2.m-login-2--skin-2 input:-webkit-autofill,
.m-login.m-login--2.m-login-2--skin-2 input:-webkit-autofill:hover,
.m-login.m-login--2.m-login-2--skin-2 input:-webkit-autofill:focus
.m-login.m-login--2.m-login-2--skin-2 textarea:-webkit-autofill,
.m-login.m-login--2.m-login-2--skin-2 textarea:-webkit-autofill:hover
.m-login.m-login--2.m-login-2--skin-2 textarea:-webkit-autofill:focus,
.m-login.m-login--2.m-login-2--skin-2 select:-webkit-autofill,
.m-login.m-login--2.m-login-2--skin-2 select:-webkit-autofill:hover,
.m-login.m-login--2.m-login-2--skin-2 select:-webkit-autofill:focus {
    border: 1px solid #4fc4ca;
    -webkit-text-fill-color: #4fc4ca;
    -webkit-box-shadow: 0 0 0px 1000px rgba(79, 196, 202, 0.32941176470588235) inset;
    transition: background-color 5000s ease-in-out 0s;
}

.m-login.m-login--2.m-login-2--skin-2 .m-input-icon.m-input-icon--left .form-control {
    padding-left: 3.2rem;
}

.m-login.m-login--2.m-login-2--skin-2  .form-control[readonly], .form-control{
    border-color:#999;
}

.m-login.m-login--2.m-login-2--skin-2 .m-checkbox.m-checkbox--focus > span{
    border: 1px solid #575962;
    width: 15px;
    height: 15px;
}
.btn-return-login:hover {
    cursor: pointer;
}
.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .m-login__form-sub .m-link:hover:after{
    border-bottom: 1px solid #50c4ca;
}
.m-login-border{
    width: 60%;
    /*border-top: 2px solid #7b7b7b;*/
    border-top-width: 1px;
    border-bottom-style: solid;
    border-top-color: #7b7b7b;
    border-radius: 2px;
    border-image:  linear-gradient(to right, rgba(51, 51, 51, 0.1), rgba(51, 51, 51, 0.31), rgba(51, 51, 51, 0.31), rgba(51, 51, 51, 0.1));
    border-image-slice: 1

    /*border-image:*/
            /*linear-gradient(*/
                    /*to bottom,*/
                    /*red,*/
                    /*rgba(0, 0, 0, 0)*/
            /*) 1 100%;*/
}

#m_login_forget_password_cancel{
    color:#333;
}
#m_login_forget_password_cancel:hover{ color: #50c4ca !important;}
.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form{
    margin: 2rem auto;
}
.m-login__logo img{width: 45%}
.form-alert-error .alert-error {
    background: red;
    color: #fff;
}
.error {
    color:red;
}
.btn-return-login {
    display: inline-block;
    text-align: center;
    padding: 1rem;
    margin-top: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
    background: #4fc4ca;
    border: 1px solid #4fc4ca;
    color: #000;
    padding: 1rem 2.5rem;
    background: transparent;
    border-radius: 50px;
    border-color: #4fc4ca !important;
}
.btn-return-login:hover {
    text-decoration: unset;
    color: #4fc4ca;
}
.btn-update-pasword {
    color:#fff;
}
.btn-update-pasword:hover {
    color:#fff;
}