.add-group-section{
    margin-top: 28px;
    text-align: right;
}

.kill-padding-left{
    padding-left: 0 !important;
}

.kil-padding-right{
    padding-right: 0 !important;
}

.required{
    color:red;
}

.full_dz{
    width: 100%;
}

.active-btn{
    background-color: #4fc4cb !important;
    border-color: #4fc4cb !important;
    color: white!important;
}

.image-preview{
    width: 100%;
    text-align: center;
    padding: 20px;
    min-height: 100px;
}

.img-preview{
    width: 100%;
}

.img-preview-large{
    width: 200px;
}

.detail-sec{
    background: white;
    border: 4px solid #f7f7fa;
    padding: 10px;
}

.btn-unit{
    background-color: #384AD7;
    border: 1px solid #384AD7;
    color:white;
    padding: 8px 0px;
    height: 38px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.img-section{
    text-align: center;
}

.btn-delete-img{
    display: block;
    margin: auto;
    margin-top: 10px;
}