.tr_thead_group {
    font-size: 12px;
    text-align: center;
    font-weight: bold !important;
    color: #474747;
}

.tr_tbody_group {
    font-size: 12px;
    text-align: center;
}

.bg_tr_white {
    background-color: #fff !important;
}

.title_index {
    color: #027177 !important;
    font-weight: bold !important;
    font-size: 13px !important;
}

/*.tr_thead_list {*/
    /*color: #474548 !important;*/
    /*font-size: 0.8rem !important;*/
    /*font-weight: bold !important;*/
    /*text-transform: uppercase;*/
/*}*/

.tr_thead_list_dt_cus {
    color: #474548;
    font-size: 12px;
    font-weight: 400;
}

.tr_thead_list_action {
    color: #474548 !important;
    font-size: 0.8rem !important;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

}

.bdr {
    border-right: 1px dashed #e0e0e0;
}

.bdb {
    border-bottom: 1px dashed #e0e0e0;
    padding: 10px;
}

.bdb_email {
    border-bottom: 1px dashed #e0e0e0;
    padding-bottom: 20px;
}

.bdb_order {
    border-bottom: 1px dashed #e0e0e0;
}

.bdt_order {
    border-top: 1px dashed #e0e0e0;
}

.color_title {
    color: #008990 !important;
    font-weight: bold !important;
    font-size: 1.1rem !important;
}

.color_button {
    background-color: #4fc4ca !important;
    color: #fff;
    border-color: #4fc4ca !important;
    font-weight: bold;
    font-size: 0.8rem;
}

.color {
    /*background-color: #4fc4ca !important;*/
    color: #4fc4ca !important;
    border-color: #4fc4ca !important;
    font-weight: 500;
    font-size: 0.8rem;
}

.color:hover {
    border-color: #4fc4ca;
    background: #fff;
    color: #ffffff;
}

.color_code {
    /*background-color: #4fc4ca !important;*/
    color: #659c9f !important;
    border-color: #066a60 !important;
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.bte_app {
    font-weight: 500;
    font-size: 0.8rem;
}

/*.bg {*/
    /*background-color: #dff7f8;*/
    /*white-space: nowrap;*/
/*}*/
/*.bg tr{*/
    /*height: 40px;*/
/*}*/
.height_head{
    height: 40px;
}

.w-20-cus {
    width: 20%;
    float: left;
}

.w-80-cus {
    width: 80%;
    float: left;
}

.img-sd {
    object-fit: scale-down;
}

.img-dt {
    max-width: 130px;
    max-height: 130px;
    background: #ccc;
}

.icon-size {
    font-size: 10px !important;
}

.icon_color {
    color: #02898f !important;
}

.cl_md {
    font-size: 10px;
    text-decoration-line: underline;
    margin-right: 10px;
    color: #0f0f11;
}

.cl_md:hover {
    color: #0f0f11;
}

.sz_dt {
    font-size: 13px !important;
}

.nav-link.active {
    background-color: #fff !important;
    color: #4fc4ca !important;
    font-weight: 500 !important;
    font-size: 13px !important;
}

.nav-link.active.show {
    background-color: #4fc4ca !important;
    color: #fff !important;
    font-weight: 500 !important;
    font-size: 13px !important;
}

.m-btn--hover-brand-od:hover {
    background-color: #4fc4ca !important;
    color: #fff;
}

.m-btn--hover-brand-od:hover .icon-sz {
    color: #fff !important;

}

.cl_price {
    color: #4ec5cb !important;
    font-weight: bold !important;
    vertical-align: middle;
    font-size: 13px !important;
}

.sz_bill {
    font-size: 0.8rem;
    font-weight: 500;
}

.sz_word {
    font-size: 13px !important;
    overflow: auto;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f8f8;
}

.tr_thead_od {
    font-size: 13px;
    color: #5a7556;
}

.tr_thead_quan {
    font-size: 12px;
    text-align: center;
}

.tr_thead_od_detail {
    font-size: 12px;
    color: #02898f;
}

.cl_amount {
    color: #ff0000;
    font-size: 10px;
    margin-right: 10px;
    font-weight: bold;
}

.cl_amount_bill {
    color: #ff0000;
    font-size: 13px !important;
}

.btn-ct {
    padding: 0.25rem 0.6rem;
    font-size: 0.8rem;
    height: 21px;
}

.btn-ct-input {
    padding: 0.25rem 0.6rem;
    font-size: 0.8rem;
    height: 21px;
}

.btn-sm-cus {
    padding: 0.4rem 0.8rem 0.4rem 0.8rem !important;
    font-size: 0.6rem;
    line-height: 1;
}

.btn-sm-list {
    padding: 0.4rem 0.9rem 0.4rem 0.9rem !important;
    font-size: 0.6rem;
    line-height: 1;
}

.icon-sz {
    font-size: 12px !important;
}

.order_tt {
    width: 90%;
    margin: 0 auto;
}

.m-list-timeline__text::before {
    display: block !important;
    content: '' !important;
    width: 0 !important;
    height: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
}

.img-cl {
    border-radius: 60%;
}

.td_vtc {
    vertical-align: middle;
}

.m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--active {
    background: #4fc4ca;
}

.m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link:hover {
    background: #4fc4ca;
}

.m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--first, .m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--prev, .m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--next, .m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--last {
    background: #dff7f8;
}

.m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--first:hover, .m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--prev:hover, .m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--next:hover, .m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--last:hover {
    background: #4fc4ca;
}

.m-badge.m-badge--danger, .m-badge.m-badge--success, .m-badge.m-badge--warning {
    font-size: 10px;
}

.m-badge.m-badge--danger {
    background-color: #ed1b24;
}

.m-badge.m-badge--success {
    background-color: #00a650;
}

.m-radio.m-radio--state-success > input:checked ~ span {
    border: 1px solid #4fc4ca;
}

.m-radio.m-radio--state-success > span:after {
    border: solid #4fc4ca;
    background: #4fc4ca;
}

.m-radio.m-radio--state-success > span {
    border: 1px solid #4fc4ca;
}

.link-dc {
    border-radius: 20px !important;
}

.nav-link.active.show.link-dc {
    background-color: #4fc4ca !important;
    color: #fff !important;
    font-weight: 500 !important;
    font-size: 13px;
    border: 1px solid #4fc4ca !important;
    line-height: 19px;
}

.nav-link.link-dc {
    border: 1px solid;
    padding: 0.3rem 0.8rem !important;
    line-height: 19px;
    font-size: 13px;
}

.bd-ct {
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    padding: 10px 20px;
}

.nav-link.active.show.son {
    background-color: #fff !important;
    color: #4fc4ca !important;
    font-size: 12px !important;
    font-weight: bold !important;
}

.nav-link.son {
    font-size: 12px !important;
}

.label-son {
    font-size: 12px;
    font-weight: bold;
}

.ic-search {
    vertical-align: unset !important;
}

.m-checkbox.m-checkbox--state-success.m-checkbox--solid > span {
    background: #1aa203;
}

.m-checkbox.m-checkbox--state-success.m-checkbox--solid > input:checked ~ span {
    background: #1aa203;
}

.bd-email {
    border: 1px solid #ccc;
    height: 450px;
}

.sp_em {
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    height: 30px;
}

.sp_auto {
    font-size: 13px;
    border-bottom: 1px dashed #ccc;
    height: 60px;
}

.btn-sm-list_email {
    padding: 0.5rem 0.8rem 0.5rem 0.8rem !important;
    font-size: 12px;
    line-height: 1;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
    background-color: #4fc4ca;
    border-color: #4fc4ca;
    color: #ffffff;
}

.sz_sms {
    font-size: 0.8rem;
    font-weight: bold;
}

/*.select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--single, .select2-container--default.select2-container--open .select2-selection--multiple, .select2-container--default.select2-container--open .select2-selection--single {*/
/*height: 27px;*/
/*}*/
/*.select2-container--default .select2-selection--single .select2-selection__rendered {*/
/*height: 27px;*/
/*padding-top: 5px;*/
/*}*/
.w-cap {
    width: 20%;
}

.w-bd {
    width: 160px !important;
}

.btn-default {
    font-size: 0.8rem;
}

.sz_time {
    font-size: 0.9rem !important;
    color: #474747 !important;
    font-weight: bold;
    text-transform: uppercase;
}

.pd_info {
    padding-right: 200px !important;
}

.btn-sm-app {
    padding: 0.65rem 0.9rem 0.65rem 0.9rem !important;
    font-size: 0.8rem;
    line-height: 1;
}

.wd_type {
    width: 100% !important;
}

.color_line {
    color: #4fc4ca;
}

.bt-month {
    font-size: 0.75rem;
    font-weight: bold;
    width: 100%;
}

.sp-rm-sdt2 {
    font-weight: bold;
    font-size: 0.8rem;
}

.select2-container--default .select2-selection--single .select2-selection__rendered .select2-selection__clear {
    margin-top: -12px;
}

.m-radio.cus > span:after {
    border: 3px solid #086962 !important;
}

.m-radio.cus > input:checked ~ span {
    border: 1px solid #086962 !important;
}

.bold-huy {
    font-weight: bold;
    font-size: 0.8rem;
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge:before {
    background-color: #00a650;
}

.text-center {
    text-align: center;
}

.font-13 {
    font-size: 13px;
}

.width-quan {
    width: 110px;
}

.discount-live {
    width: 140px;
}

.discount-code {
    width: 170px;
    margin-right: 110px;
}

.left-wg-em {
    margin-left: -15px;
}

.param_email_auto {
    width: 100%;
    font-size: 11px;
    font-weight: 200;

}

.nav-link.active.font-link {
    background-color: #fff !important;
    color: #4fc4ca !important;
    font-weight: 500 !important;
    font-size: 10px !important;
}

.nav-link.active.show.font-link {
    background-color: #4fc4ca !important;
    color: #fff !important;
    font-weight: 500 !important;
    font-size: 10px !important;
}

.m-switch.m-switch--success:not(.m-switch--outline) input:checked ~ span:before {
    background-color: #008421;
}

.m-switch.m-switch--success:not(.m-switch--outline) input:empty ~ span:after {
    color: #008421;
    background-color: #ffffff;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.m-switch.m-switch--success:not(.m-switch--outline) input:empty ~ span:before {
    background-color: #008421;
}

.m-switch.m-switch--success:not(.m-switch--outline) input:checked ~ span:after {
    opacity: 1;
    filter: alpha(opacity=100);
}

.form-control-feedback {
    color: #ff0000 !important;
}

.fc-unthemed .fc-toolbar .fc-button:focus, .fc-unthemed .fc-toolbar .fc-button:active, .fc-unthemed .fc-toolbar .fc-button.fc-state-active {
    background-color: #4fc4ca !important;
    font-size: 13px;
    font-weight: 300 !important;
}

.fc-unthemed .fc-toolbar .fc-button {
    background: #fff !important;
    border: 1px solid #ccc;
    font-weight: 300;
}

.fc-unthemed .fc-toolbar .fc-button:hover {
    border: 1px solid #ccc;
    font-size: 13px;
    font-weight: 300 !important;
}

/*porlet*/
.m-portlet {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

/*.m-portlet .m-portlet__head {*/
/*height: 3rem !important;*/
/*}*/

/*end*/
.set-img {
    width: 100%;
}

.text-ct {
    text-align: center;
}



.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    font-size: 1rem;
}

.note-toolbar-wrapper {
    height: auto !important;
}

.modal-lg-appointment {
    max-width: 80% !important;
}

.modal-lg-email-auto {
    max-width: 70% !important;
}

.modal-lg-email-campaign {
    max-width: 80% !important;
}

.modal-lg-email-content {
    max-width: 80% !important;
}


.width-select {
    width: 100%;
}

.cus_or {
    padding-left: 20px !important;
    padding: 10px !important;
    width: 70%;
}

.cus_or_dt {
    width: 70%;
}

.choose_cus {
    float: right;
}

.choose_1 {
    float: right;
    margin-left: 10px;
}

.btn_add_mobile {
    display: none;
}

.width-110-od {
    width: 110px;
}
.width_name_sv{
    width: 290px;
}
.img_sub {
    width: 250px;
}

.padding_row {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.m-image {
    max-width: 100%;
    background: #ccc;
}

.wrap-img {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.delete-img {
    position: absolute;
    top: -8px;
    right: -8px;
    z-index: 2;
    display: none;
}

.delete-img a {
    color: #444;
}

.delete-img i {
    font-weight: bold;
    font-size: 1rem
}

.m-image-show {
    max-width: 100%;
    background: #ccc;
}

.delete-img-sv {
    position: absolute;
    top: -8px;
    right: -8px;
    z-index: 2;
    display: none;
}

.delete-img-sv a {
    color: #444;
}

.delete-img-sv i {
    font-weight: bold;
    font-size: 1rem
}

.image-show {
    display: flex;
    flex-wrap: wrap;
}

.image-show-child:not(:last-child) {
    margin-right: 10px;
}

.image-show-child {
    margin-bottom: 10px;
}

.width-150 {
    width: 150px !important;
}

.width-110 {
    width: 110px !important;
}

.width-250 {
    width: 250px;
}

.blockUI.blockMsg.blockElement {
    left: 40% !important;
    top: 40% !important;
}

.btn-delete-img {
    display: block;
    margin: auto;
    margin-top: 10px;
}

.text_middle {
    vertical-align: middle !important;
}

.btn.m-btn--air.btn-default.focus, .btn.m-btn--air.btn-default:focus, .btn.m-btn--air.btn-default:hover:not(:disabled):not(.active), .btn.m-btn--air.btn-secondary.focus, .btn.m-btn--air.btn-secondary:focus, .btn.m-btn--air.btn-secondary:hover:not(:disabled):not(.active) {
    background: #4fc4ca !important;
    border-color: #4fc4ca !important;
}

.thead_active {
    color: #007177;
    font-size: 13px;
    font-weight: bold;
    white-space: nowrap;
}

.m-table.m-table--head-separator-primary thead th {
    border-top: 0;
    border-bottom: 1px solid #007177;
}

.middle_text {
    vertical-align: middle;
}

.bt-month-small {
    display: none;
}

.m-stack.m-stack--general.m-stack--ver.m-stack--demo {
    height: 3rem;
}

.m-stack--demo .m-stack__item {
    background-color: #fff !important;
    border: 0 !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 30px;
    color: red;
}


.carousel-control-prev-icon:after {
    content: '<';
    font-size: 30px;
    color: red;
}

.carousel .item img {
    height: 530px;
    min-width: auto;
}

.m-table.m-table--border-successss,
.m-table.m-table--border-successss th, .m-table.m-table--border-successss td {
    border-color: #000000;
}

.border_bot_config_email:not(:last-child) {
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
    margin-bottom: 10px;
}

.modal-header {
    height: 4.1rem;
    padding: 20px !important;
}
.ui-autocomplete-input {
    border: none;
    width: 100%;
    /*height: 28px;*/
    border: 1px solid #DDD !important;
    z-index: 1511;
    position: relative;
}

.ui-menu .ui-menu-item a {
    font-size: 12px;
}

.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1510 !important;
    float: left;
    display: none;
    min-width: 160px;
    width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

@media (max-width: 1440px) {
    .w-col-mb-100 {
        flex: 1 0 100%;
        max-width: 100%;
        margin-top: 10px;
    }
}

@media (min-width: 1200px) and (max-width: 1280px ) {
    .bt-month {
        font-size: 0.7rem;
    }

    .bt-month .i_add {
        font-size: 0.6rem !important;
    }

    .wd_type {
        font-size: 9px;
    }

}

@media (min-width: 1024px) and (max-width: 1280px ) {
    .cus_or {
        padding: 0;
    }

    .cus_avatar {
        width: 25%;
    }

    .sp_auto {
        height: 70px;
    }
}

@media (width: 1024px) {
    .cus_or {
        width: 100% !important;
    }

    .cus_or_dt {
        width: 70%;
        padding-left: 15px;
    }

    .sp_auto {
        height: 100px;
    }
}


@media (min-width: 700px) and (max-width: 800px) {
    .gen {
        margin-top: 10px;
    }
    .cus_or {
        width: 90%
    }

    .col_or_dt_av {
        width: 40%;
    }

    .col_or_dt {
        width: 30%;
    }
    .sp_auto {
        height: 80px;
    }
    .modal-lg-email-auto {
        max-width: 100% !important;
    }
}

@media (max-width: 450px) {
    .m {
        margin-top: 10px;
    }

    .y {
        margin-top: 10px;
    }

    .d {
        margin-top: 10px;
    }

    .bdr {
        border-right: 0;
    }

    .cus_or {
        padding-left: 0;
        padding: 0;
    }

    .cus_or_dt {
        padding-left: 5px;

    }
    .choose_cus {
        float: left;
    }

    .choose_1 {
        float: left;
        margin-left: 0;
    }

    .btn-ct {
        padding: 0.25rem 0.6rem;
        font-size: 0.8rem;
        min-width: 20px !important;
    }

    .btn-ct-input {
        padding: 0.25rem 0.6rem;
        font-size: 0.8rem;
        min-width: 20px !important;
    }

    .width-110-od {
        min-width: 110px;
    }

    .tooltipevent {
        display: none;
    }

    .bt-send, .bt-file {
        margin-left: 0 !important;
    }

    .w-me-40 {
        width: 40%;
    }

    .w-me-60 {
        width: 60%;
    }

    .btn_add_pc {
        display: none;
    }

    .btn_add_mobile {
        display: block !important;
    }

    .line-name {
        line-height: 15px !important;
    }

    .font-name {
        font-size: 0.9rem;
    }

    .font-sub {
        font-size: 0.7rem;
    }

    .modal-lg-email-auto {
        max-width: 100% !important;

    }

    .modal-lg-appointment {
        max-width: 100% !important;
    }

    .modal-lg-email-campaign {
        max-width: 100% !important;
    }

    .modal-lg-email-content {
        max-width: 100% !important;
    }

    .div_avatar {
        margin-top: 10px;
    }

    .m-image-show {
        width: 100px;
    }

    .bold-huy {
        width: 100%;

    }

    .bold-huy span {
        margin-left: auto;
        margin-right: auto;
    }

    .son-mb {
        margin-top: 10px;
        width: 100%;
        margin-left: 0 !important;
    }

    .son-mb span {
        margin-left: auto;
        margin-right: auto;
    }

    .text_middle {
        vertical-align: unset !important;
    }

    .width_right_mb {
        width: 100%;
    }

    .scroll_son {
        height: 300px !important;
    }

    .m-stack--demo .m-stack__item {
        width: 100% !important;
    }

    .gen {
        margin-top: 10px;
    }

    .sp_auto {
        height: 110px;
    }
}

